apiVersion: v1
kind: Service
metadata:
  name: devops-service
spec:
  type: NodePort
  selector:
    app: devops-backend
  ports:
    - protocol: TCP
      port: 80         
      targetPort: 5000 
      nodePort: 30001  